:root {
  --primary-color: #001c77;
  --transition-speed: 0.3s;
  --background-color: #f4f4f4;
  --font-size-base: 16px;
  --line-height: 1.6;
  --sidebar-link-color: #001c77;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: #333;
}
